.container {
  overflow-x: hidden;
  height: 100%;
}
.herocontainer {
  scroll-snap-align: start;
  position: relative;
  height: 93.5vh;
  padding: 0 2rem;
  width: 100vw;
  background: url(https://images.unsplash.com/photo-1504202765451-e04e08e0fe58?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80)
    no-repeat;
  display: flex;
}
.home {
  display: flex;
  position: absolute;
  display: inline;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -60%);

  align-items: center;
  justify-content: center;
  color: white;
  animation: heroText 1s ease-in-out;
}
.heroText1 {
  font-size: 10em;
}
.heroText2 {
  position: absolute;
  font-size: 2.5em;
  left: 22%;
  margin-top: 1rem;
}

@keyframes heroText {
  from {
    top: 0%;
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.section1 {
  height: 50vh;
  background-color: #f6f9fc;
}

.section1Heading {
  display: flex;
  font-size: 5rem;
  justify-content: center;
}

.slideTrack {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85%;
}
.slider .slideTrack {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 10);
}
.slide > img {
  height: 15rem;
  margin: 4rem 4rem 0 4rem;
  cursor: pointer;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 10));
  }
}
.section2 {
  position: relative;
  height: 50vh;
  background-color: tomato;
}
.wave .shapeFill {
  fill: #f6f9fc;
}
.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.section3 {
  height: 50vh;
  background-color: skyblue;
}
.section4 {
  height: 50vh;
  background-color: crimson;
}

@media screen and (max-width: 768px) {
  .heroText1 {
    font-size: 7rem;
  }
  .heroText2 {
    margin-top: 0.25em;
    font-size: 2em;
  }
  .section1Heading {
    display: flex;
    font-size: 4rem;
    justify-content: center;
  }

  .slide > img {
    height: 10rem;
    margin: 2rem 2rem 0 2rem;
    cursor: pointer;
  }
  .section2 {
    position: relative;
    height: 25vh;
    background-color: tomato;
  }
}
@media screen and (max-width: 500px) {
  .heroText1 {
    font-size: 5em;
  }
  .heroText2 {
    margin-top: 0.25em;
    font-size: 1.5em;
  }
}
