.navbar {
  height: 6.5vh;
  position: sticky;
  top: 0%;
  z-index: 99;
  background: #16222a;
  background: -webkit-linear-gradient(to right, #3a6073, #16222a);
  background: linear-gradient(to right, #000000, #16222a);
}

.navLinks {
  display: flex;
  list-style: none;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.navLinks > li {
  cursor: pointer;
  color: white;
  font-size: 25px;
  font-family: Ibarra Real Nova;
  margin: 0rem 2.5rem 0rem 2.5rem;
  font-weight: 300;
}
.navLink {
  position: relative;
  padding-bottom: 5px;
}
.navLink::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.navLink:hover::after {
  color: rgb(255, 255, 255);
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media screen and (max-width: 768px) {
  .line {
    width: 40px;
    height: 4px;
    background: white;
    border-radius: 50px;
    transition: all 0.5s ease-in-out;
  }
  .line::before,
  .line::after {
    content: "";
    cursor: pointer;
    position: absolute;
    width: 40px;
    height: 4px;
    background: white;
    border-radius: 50px;
    transition: all 0.5s ease-in-out;
  }

  .line::after {
    transform: translateY(10px);
  }
  .line::before {
    transform: translateY(-10px);
  }

  .navbar {
    position: sticky;
    top: 0%;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    z-index: 2;
    transform: translate(-5%, -50%);
  }

  .navLinks {
    position: fixed;
    background: #16222a;
    background: -webkit-linear-gradient(to right, #3a6073, #16222a);
    background: linear-gradient(to right, #000000, #16222a);
    z-index: 1;
    height: 75vh;
    width: 100vw;
    flex-direction: column;
    clip-path: circle(10% at 90% -20%);
    -webkit-clip-path: circle(10% at 90% -20%);
    transition: all 0.5s ease-out;
  }

  .navLinks.open {
    clip-path: circle(250% at 90% -10%);
    -webkit-clip-path: circle(250% at 90% -10%);
  }
  .line.open {
    transform: translateX(-50px);
    background: transparent;
  }
  .line.open::before {
    transform: rotate(225deg) translate(-35px, 35px);
  }
  .line.open::after {
    transform: rotate(135deg) translate(-35px, -35px);
  }
  .navLink::after {
    display: none;
  }
  .navLink:hover {
    color: rgb(87, 87, 87);
  }
  .navLinks > li {
    margin: 1rem 0rem 1rem 0rem;
    font-size: 34px;
  }
  .navLink {
    width: 100%;
    padding: 2rem;
  }
}
