.navbar {
  min-height: 7vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(41, 41, 133, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  box-shadow: -5px 5px 10px #959595;
}
.navButton {
  border: none;
  background: none;
}
.navbar > ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding: 1rem 2rem;
}
.navItems {
  color: white;
  font-size: large;
  font-weight: 700;
  margin-right: 5rem;
  cursor: pointer;
  position: relative;
  padding-bottom: 10px;
}

.navItems::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navButton:hover .navItems:after {
  color: rgb(255, 255, 255);
  transform: scaleX(1);
  transform-origin: bottom left;
}
