html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar {
  height: 7vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(41, 41, 133, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  box-shadow: -5px 5px 10px #959595;
}

.navLinks {
  display: flex;
  list-style: none;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.navLinks > li {
  cursor: pointer;
  color: white;
  font-size: 30px;
  margin: 0rem 2.5rem 0rem 2.5rem;
  font-weight: 500;
}
.navLink {
  position: relative;
  padding-bottom: 10px;
}
.navLink::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.navLink:hover::after {
  color: rgb(255, 255, 255);
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media screen and (max-width: 768px) {
  .line {
    width: 40px;
    height: 4px;
    background: white;
    border-radius: 50px;
    transition: all 0.5s ease-in-out;
  }
  .line::before,
  .line::after {
    content: "";
    cursor: pointer;
    position: absolute;
    width: 40px;
    height: 4px;
    background: white;
    border-radius: 50px;
    transition: all 0.5s ease-in-out;
  }

  .line::after {
    transform: translateY(10px);
  }
  .line::before {
    transform: translateY(-10px);
  }

  .navbar {
    position: relative;
  }
  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    z-index: 2;
    transform: translate(-5%, -50%);
  }

  .navLinks {
    position: fixed;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(41, 41, 133, 1) 35%,
      rgba(0, 212, 255, 1) 100%
    );
    height: 50vh;
    width: 100vw;
    flex-direction: column;
    clip-path: circle(10% at 90% -10%);
    -webkit-clip-path: circle(10% at 90% -10%);
    border-radius: 0% 0% 10% 10%;
    transition: all 0.5s ease-out;
  }

  .navLinks.open {
    clip-path: circle(250% at 90% -10%);
    -webkit-clip-path: circle(250% at 90% -10%);
  }
  .line.open {
    transform: translateX(-50px);
    background: transparent;
  }
  .line.open::before {
    transform: rotate(225deg) translate(-35px, 35px);
  }
  .line.open::after {
    transform: rotate(135deg) translate(-35px, -35px);
  }
  .navLink::after {
    display: none;
  }
  .navLink:hover {
    color: rgb(36, 36, 36);
  }
}
